#btn-start-quiz{
  border-bottom: 2px solid #c6bfbf;
  padding: 6px;
}
#btn-start-quiz button{
  border-radius: 5px;
  padding: 5px;
  color: #fff;
  font-weight: bold;
  background: #2d54d4;
  border: none;
}
#btn-start-quiz button:hover{
  background-color: #2e5cf3;
}
.div-quiz-info{
  margin: 10px;
}

.div-result-box{
  background: #fff;
  padding: 7px;
  margin: 7px 0;
}
.div-result-qs{
  border-bottom:1px solid #f3f3f3;
}
.div-r-answer, .div-r-userAns{
  margin:8px;
  padding: 5px;
}
.incorrect{
  background: #ff6666;
  color: #fff;
}