<div [ngSwitch]="status">
  <div *ngSwitchCase="enumStatus.UploadQuiz">
    <input type="file" name="Load Quiz" id="fileUpload" (change)="onUpload($event)">
  </div>
  <div *ngSwitchCase="enumStatus.UploadedQuiz">
    <div>
      <button (click)="onStartQuiz($event)">Start Quiz</button>
    </div>
    <div>Author: {{quiz.author}}</div>
    <div>Quiz name: {{quiz.quizName}}</div>
    <div>Questions: {{quiz.questions.length}}</div>
  </div>

  <div *ngSwitchCase="enumStatus.TakingQuiz">
    <app-take-question [question]="curQuestion" (toNextQuestion)="onNextQuestion($event)"></app-take-question>
  </div>

  <div *ngSwitchCase="enumStatus.CompletedQuiz">
    <h3>Result</h3>
    <table>
      <tr>
        <th>Question</th>
        <th>Correct Answer</th>
        <th>Selected Answer</th>
      </tr>
      <tr *ngFor="let r of userResult">
        <td>{{r.question.question}}</td>
        <td>{{r.question.answer}}</td>
        <td>{{r.selectedAnswer}}</td>
      </tr>

    </table>
  </div>
</div>