<div [ngSwitch]="status" class="center">
  <div *ngSwitchCase="enumStatus.UploadQuiz">
    <input type="file" name="Load Quiz" id="fileUpload" (change)="onUpload($event)">
  </div>
  <div *ngSwitchCase="enumStatus.UploadedQuiz">
    <div id="btn-start-quiz">
      <button (click)="onStartQuiz($event)">Start Quiz</button>
    </div>
    <div class="div-quiz-info"><strong>Author:</strong> {{quiz.author}}</div>
    <div class="div-quiz-info"><strong>Quiz name:</strong> {{quiz.quizName}}</div>
    <div class="div-quiz-info"><strong>Questions:</strong> {{quiz.questions.length}}</div>
  </div>

  <div *ngSwitchCase="enumStatus.TakingQuiz">
    <app-take-question [question]="curQuestion" [questionNo]="questionIndex" (toNextQuestion)="onNextQuestion($event)">
    </app-take-question>
  </div>

  <div *ngSwitchCase="enumStatus.CompletedQuiz">
    <h3>Result</h3>
    <div class="div-result-box" *ngFor="let r of userResult; let i = index">
      <div class="div-result-qs">Q{{i+1}}: {{r.question.question}}</div>
      <div class="div-r-answer">Correct Answer: {{r.question.answer}}</div>
      <div class="" [ngClass]="getClasses(r.correct)">Your choice: {{r.selectedAnswer}}</div>
    </div>
  </div>
</div>