<div [ngSwitch]="status" class="center">
  <div *ngSwitchCase="statusEnum.None">
    <form (submit)="onCreate($event)" id="create-quiz">
      <h3>Create Quiz</h3>
      <input type="text" placeholder="Author" id="author">
      <input type="text" placeholder="Quiz Name" id="quiz">
      <input type="number" placeholder="number of questions" id="questionSize">
      <input type="submit" value="Create Quiz">
    </form>
  </div>


  <app-create-question *ngSwitchCase="statusEnum.CreatingQuiz" (newQuestion)="onNewQuestion($event)"
    [questionNo]="count">
  </app-create-question>

  <div *ngSwitchCase="statusEnum.CreatedQuiz">
    <div *ngFor="let question of quiz.questions; let i = index" class="display-question-box">
      <app-display-question [question]="question" [orderId]="i"></app-display-question>
    </div>
    <button (click)="onSaveQuiz($event)" id="btn-save-quiz">
      <img src="https://img.icons8.com/dusk/64/000000/save-as.png">
      <span>Save Quiz</span>
    </button>
  </div>

</div>