<div [ngSwitch]="status">
  <div *ngSwitchCase="statusEnum.None">
    <form (submit)="onCreate($event)">
      <input type="text" placeholder="Author" id="author">
      <input type="text" placeholder="Quiz Name" id="quiz">
      <input type="number" placeholder="number of questions" id="questionSize">
      <input type="submit" placeholder="Create Quiz">
    </form>
  </div>


  <app-create-question *ngSwitchCase="statusEnum.CreatingQuiz" (newQuestion)="onNewQuestion($event)"
    [questionNo]="count">
  </app-create-question>

  <div *ngSwitchCase="statusEnum.CreatedQuiz">
    <div *ngFor="let question of quiz.questions">
      <app-display-question [question]="question"></app-display-question>
    </div>
    <button (click)="onSaveQuiz($event)">Save Quiz</button>
  </div>

</div>