<div [ngSwitch]="status">
  <div *ngSwitchCase="statusEnum.None">
    <form (submit)="onCreate($event)">
      <input type="text" placeholder="Author" id="author">
      <input type="text" placeholder="Quiz Name" id="quiz">
      <input type="number" placeholder="number of questions" id="questionSize">
      <input type="submit" placeholder="Create Quiz">
    </form>
  </div>


  <app-create-question *ngSwitchCase="statusEnum.CreatingQuiz" (newQuestion)="onNewQuestion($event)"
    [questionNo]="count">
  </app-create-question>

  <div *ngSwitchCase="statusEnum.CreatedQuiz">
    <div *ngFor="let question of quiz.questions">
      <div>
        <h4>{{question.question}}</h4>
        <ul *ngFor="let answer of question.answers; let i = index ">
          <li>Choice {{i}}: {{answer}}</li>
        </ul>
      </div>
    </div>
  </div>

</div>