<form (submit)="onAddQuestion($event)">
  <input type="text" placeholder="Question" id="question">
  <div id="choice1">
    <input type="text" placeholder="Choice 1" #choice1 id="c1">
    <input type="radio" (click)="onSelect(choice1.value)" name="answer">Correct
  </div>
  <div id=" choice2">
    <input type="text" placeholder="Choice 2" #choice2 id="c2">
    <input type="radio" (click)="onSelect(choice2.value)" name="answer">Correct
  </div>
  <div id=" choice3">
    <input type="text" placeholder="Choice 3" #choice3 id="c3">
    <input type="radio" (click)="onSelect(choice3.value)" name="answer">Correct
  </div>
  <div id=" choice4">
    <input type="text" placeholder="Choice 4" #choice4 id="c4">
    <input type="radio" (click)="onSelect(choice4.value)" name="answer">Correct
  </div>

  <input type="submit" value="Add Question {{questionNo}}">
</form>