/* You can add global styles to this file, and also import other style files */
body{
  margin: 0;
  font-family: cursive;
}
.center{
  width: 80%;
  max-width: 500px;
  margin: 0 auto;
  background-color: #f3f3f3;
  padding: 2em;
}
